.DS_Store
.thumbnail
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

__pycache__/
*.py[cod]
*$py.class

.Python
build/
dist/
.eggs/
*.egg-info/
*.egg

.venv/
venv/
env/
ENV/

.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

.ipynb_checkpoints/